/* styles the Records.js page */

/* Import the monoton montserrat and font */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400;500;700&display=swap');


/* BACKGROUND COLOR */
.main {
    height: 100vh; /* Full screen height */
    background-color: #fff5e5; /* Background color for the page */
  }

  .spotify {
    border-radius: "12px";
    width: 35%;
    height: 70%; 
    position: absolute; /* Position relative to the viewport */
    left: 5%; 
    bottom: 25%; /* Distance from the bottom edge */

  }
  
  .button-container {
    position: absolute; /* Position relative to the viewport */
    left: 6.5%;
    bottom: 15%; /* Distance from the bottom edge */
    display: flex;
    flex-wrap: wrap; /* Wrap buttons to a new line */
    gap: 10px; /* Add space between buttons */
    margin-top: 20px; /* Add some spacing from the iframe */
  }
  
  .record-button {
    font-family: 'Monoton', cursive; /* Use Monoton font */
    width: 50px; /* Set width for the circle */
    height: 50px; /* Set height to match width */
    font-size: 20px; /* Adjust font size for circular space */
    color: white; /* Ensure text is readable */
    background-color: #ff5722; /* Add a background color for better visibility */
    border: none; /* Remove border */
    border-radius: 50%; /* Make it a circle */
    display: flex; /* Center text inside the circle */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    cursor: pointer; /* Show pointer on hover */
  }

  .record-button:hover {
    filter: brightness(0.9); /* Brighten the image */
  }

  .active-track {
    font-family: 'Monoton', cursive; /* Use Monoton font */
    position: absolute; /* Position relative to the viewport */
    left: 45%;
    top: 5%; /* Distance from the bottom edge */
    font-size: 40px;
  }
  
  .active-text {
    font-family: 'Montserrat', sans-serif;
    position: absolute; /* Position relative to the viewport */
    left: 45%;
    right: 35%;
    top: 20%; 
    font-size: 22px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .active-image {
    position: absolute; /* Position relative to the viewport */
    right: 5%;
    top: 16%; /* Distance from the bottom edge */
    display: flex;

    width: 400px; /* Set the width of the image container */
    height: 400px; /* Set the height of the image container */
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
    margin: 0 auto; /* Center the div on the page */
    animation: spin 10s linear infinite; /* Optional spinning animation */
  }
  
  .record1 {
    background-image: url('../../public/images/records/record1.svg');
  }
  
   .record2 {
    background-image: url('../../public/images/records/record2.svg');
  }
  
  .record3 {
    background-image: url('../../public/images/records/record3.svg');
  } 

  .record4 {
    background-image: url('../../public/images/records/record4.svg');
  }
  
   .record5 {
    background-image: url('../../public/images/records/record5.svg');
  }
  
  .record6 {
    background-image: url('../../public/images/records/record6.svg');
  } 

  .record7 {
    background-image: url('../../public/images/records/record7.svg');
  }
  
  .record8 {
    background-image: url('../../public/images/records/record8.svg');
  } 

  .record9 {
    background-image: url('../../public/images/records/record9.svg');
  }
  
  .record10 {
    background-image: url('../../public/images/records/record10.svg');
  } 

  .record11 {
    background-image: url('../../public/images/records/record11.svg');
  }
  
  .record12 {
    background-image: url('../../public/images/records/record12.svg');
  } 
  
  .record13 {
    background-image: url('../../public/images/records/record13.svg');
  } 

  .record14 {
    background-image: url('../../public/images/records/record14.svg');
  }
  
  .record15 {
    background-image: url('../../public/images/records/record15.svg');
  } 

  .record16 {
    background-image: url('../../public/images/records/record16.svg');
  }
  
  .record17 {
    background-image: url('../../public/images/records/record17.svg');
  } 
   
    
  .record18 {
    background-image: url('../../public/images/records/record18.svg');
  } 

  .record19 {
    background-image: url('../../public/images/records/record19.svg');
  }
  
  .record20 {
    background-image: url('../../public/images/records/record20.svg');
  } 

  .record21 {
    background-image: url('../../public/images/records/record21.svg');
  }
